---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
    <Header/>
</Layout>
<h1>About tambien latino</h1>
<p>this is an online shopping</p>