---
// js code
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Tambien Latino Shop
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Todos nuestros productos en un solo sitio web.
        </p>
    </div>
    <nav
        class="flex flex-col items-center justify-between w-full text-center md:flex-row"
    >
        <a href="/foo" class="text-white">primer item</a>
        <a href="/bar" class="text-white">segundo item</a>
        <a href="/bar" class="text-white">tercer item</a>
        <a href="/bar" class="text-white">cuarto item</a>
    </nav>
</header>
