---
import Navbar from "./Navbar.astro";

// js code

---

<header class="bg-[#777f92]">
    <Navbar />
<!--     <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            Tambien Latino Shop
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Todos nuestros productos en un solo sitio web.
        </p>
    </div> -->
</header>
