<nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
>
    <a href="/foo" class="text-white">primer item</a>
    <a href="/bar" class="text-white">segundo item</a>
    <a href="/bar" class="text-white">tercer item</a>
    
    <a href="/bar" class="text-white">cuarto item</a>
</nav>
